---
import Layout from '../layouts/Layout.astro'

import LinkedInIcon from '../components/icons/LinkedIn.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import SocialPill from '../components/icons/SocialPill.astro'

const text = ["Sebastian", "Web Debeloper", "Fontend Developer"]

const getText = text.map((item, index) => {
	return item
})

setInterval(() => {
	console.log()
}, 3000)

---

<Layout title="Porfolio Sebastian Gaggero">
	<main>
		<section class="w-full lg:w-[740] py-20 px-96">
			<img 
				class="rounded-full w-28 h-28 mb-6" 
				src="me.webp" 
				alt="Sebastian Gaggero" 
        	/>
			<h1 
				class="bg-gradient-to-r from-orange-300 to-orange-600 text-transparent bg-clip-text
				text-9xl font-medium">
				Hey, soy 
				<p>{getText}</p>
			</h1>
			<h2 class="text-1xl font-medium text-gray-300 py-2 [&>p]:mb-4 text-wrap">
				<p>
					Tengo 36 y soy Ingeniero en Conectividad y Redes de profesion. 
					<a class="underline decoration-orange-600">La primera vez que me puse a <em class="skew-y-3">"programar"</em> fue a los 14 a;os cuando modifique un cliente IRC a mi gusto.</a>
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi incidunt dignissimos libero porro, eaque laborum 
					quo cupiditate culpa ad quaerat blanditiis recusandae dolores sint tempora? Fuga iste recusandae adipisci necessitatibus!
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi incidunt dignissimos libero porro, eaque laborum 
					quo cupiditate culpa ad quaerat blanditiis recusandae dolores sint tempora? Fuga iste recusandae adipisci necessitatibus!
				</p>
			</h2>
			<ul>
				<nav class="flex gap-x-2">
					<SocialPill href="https://www.linkedin.com/in/sebastiangaggero/">
						<LinkedInIcon class="w-6 h-6" />
						LinkedIn
					</SocialPill>
					<SocialPill href="https://github.com/SrMetus/">
						<GitHubIcon class="w-6 h-6" />
						GitHub
					</SocialPill>
				</nav>
			</ul>
		</section>
	</main>
</Layout>
