---
import Layout from '../layouts/Layout.astro'

const text = ["Sebastian", "Web Debeloper", "Fontend Developer"]

const getText = text.map((item, index) => {
	return item
})

setInterval(() => {
	console.log()
}, 3000)

---

<Layout title="Porfolio Sebastian Gaggero">
	<main>
		<section class="w-full py-20 px-96">
			<img 
				class="rounded-full w-28 h-28 mb-6" 
				src="me.webp" 
				alt="Sebastian Gaggero" 
        	/>
			<h1 class="bg-gradient-to-r from-orange-300 to-orange-600 text-transparent bg-clip-text
			text-9xl font-bold">Hey, soy 
			<p>{getText}</p></h1>
			<h2 class="text-1xl font-semibold text-gray-300 py-2">Apasionado por transformar ideas web en experiencias 
			digitales magicas y emocionantes!</h2>
		</section>
	</main>
</Layout>
