<header class="flex justify-between items-center py-5 w-[1120px]">
    <img class="rounded-full w-12 h-12" src="me.webp" alt="Sebastian Gaggero " />

    <nav class="mx-auto flex flex-row gap-x-12">
        <a class=" rounded border-slate-600" href="/">Inicio</a>
        <a class=" rounded border-slate-600" href="/sobremi">Sobre mi</a>
        <a class=" rounded border-slate-600" href="/tecnologias">Tecnologias</a>
        <a class=" rounded border-slate-600" href="/proyectos">Proyectos</a>
    </nav>

</header>